{% extends "waxobejoad/base.html" %}
{% load bootstrap4 %}
{% block page_header %}
	<h3>Assign students to session</h3>
{% endblock page_header %}

{% block content %}
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
			<li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
		{% endfor %}
	</ul>
	{% endif %}

	<form action="{% url 'waxobejoad:assign_student' %}" method='post' class="form">
        {% csrf_token %}
		{% bootstrap_form form layout='inline' %}
		{% buttons %}
			<button name="submit" class="btn btn-small btn-warning">Make assignment</button>
		{% endbuttons %}
	</form>

{% endblock content %}