{% extends "waxobejoad/base.html" %}
{% load bootstrap4 %}
{% block page_header %}
	<h3>New JOAD session</h3>
{% endblock page_header %}

{% block content %}

	<p>Please enter information for the new JOAD session.</p>

	<form action="{% url 'waxobejoad:new_session' %}" method='post' class="form">
		{% csrf_token %}
		{% bootstrap_form form layout='inline' %}
		{% buttons %}
			<button name="submit" class="btn btn-small btn-primary">Add session</button>
		{% endbuttons %}
	</form>

{% endblock content %}