{% extends "waxobejoad/base.html" %}
{% load bootstrap4 %}
{% block page_header %}
	<h3>New archery student information</h3>
{% endblock page_header %}

{% block content %}
	<p>Please enter information into all fields.</p>

	<form action="{% url 'waxobejoad:new_student' %}" method='post'
	 class="form">
		{% csrf_token %}
		{% bootstrap_form form layout='inline' %}
		{% buttons %}
			<button name="submit" class="btn btn-small btn-primary">Add student</button>
		{% endbuttons %}
	</form>

{% endblock content %}